
.ws1
{
    padding: 0;
    color: white;
    height: 100vh;
    width:100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    
}

.ws1 h1
{
    font-size:20vw;
    color: white;
    position: absolute;
    top: 15vh;
    left: 20vw;
}
.ws1 p
{
 font-size:4vw;
 position: absolute;
top: 50vh;
left: 30vw;
}
.newsflash
{   
    height: 30vh;
    text-align: center;
    
    font-size: xx-large;
    border-radius: 10px;
    z-index: 3;
    color: white;
    background: linear-gradient(135deg, rgba(12, 12, 12, 0.5), rgba(20, 20, 20, 0));
    box-shadow: 0px 0px 43px 13px rgb(22, 21, 21);
}
.salenotice
{
    display: flex;
    height: 80vh;
    width: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    
}
.salenotice div
{
 text-align: center;   
}
.salenotice h1
{
    font-size: 70px;
}
.salenotice button
{
    text-decoration: none;
    background-color: transparent;
    font-size: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.WNewArrival
{   
    margin-top: 0vh;
    opacity: 1;
}
.wglass{
    background: linear-gradient(135deg, rgba(24, 23, 23, 0.5), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.801);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.wdisplay
{   
    padding:0;
    padding-top: 20px;
    display: flex;
    width: 20vw;
    height: 70vh;
    margin-left:60px;
    
    
}

.wdisplay img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: 1s;
    border-radius: 20px;
    box-shadow: 1px 8px 20px 1px rgb(129, 127, 127);
}

.wdisplay img:hover
{
    transform: scale(1.02);
    z-index:1;
}